In [13]:
import sqlglot

In [14]:
query = """WITH RECURSIVE fibonacci(n, fib) AS (
  SELECT 1, 1
  UNION ALL
  SELECT n + 1, fib + LAG(fib, 1, 0) OVER (ORDER BY n)
  FROM fibonacci
  WHERE n < 10
)
SELECT n, fib,
       CASE 
         WHEN fib % 2 = 0 THEN 'Even'
         ELSE 'Odd'
       END AS parity,
       COALESCE(NULLIF(fib % 3, 0), fib) AS mod_3
FROM fibonacci
ORDER BY n;"""

In [15]:
sqlglot.transpile(query, read="sqlite", write="oracle")

["WITH RECURSIVE fibonacci(n, fib) AS (SELECT 1, 1 UNION ALL SELECT n + 1, fib + LAG(fib, 1, 0) OVER (ORDER BY n NULLS FIRST) FROM fibonacci WHERE n < 10) SELECT n, fib, CASE WHEN MOD(fib, 2) = 0 THEN 'Even' ELSE 'Odd' END AS parity, COALESCE(NULLIF(MOD(fib, 3), 0), fib) AS mod_3 FROM fibonacci ORDER BY n NULLS FIRST"]