In [13]:
from transformers import AutoTokenizer
import transformers
import torch
import os

os.environ["HF_TOKEN"] = "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"

In [14]:
model = "meta-llama/CodeLlama-7b-hf"

tokenizer = AutoTokenizer.from_pretrained(model)
pipeline = transformers.pipeline(
    "text-generation",
    model=model,
    torch_dtype=torch.float16,
    device_map="auto",
)

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

Some parameters are on the meta device because they were offloaded to the disk.

In [19]:
prompt = """You are an agent expert in data science and SQL.
Your are tasked with increasing the complexity of a given SQL query template by
inspiring from a sample tutorial document for PL/SQL.

QUESTION:
What is the highest eligible free rate for K-12 students in the schools in Alameda County?

Your response should be a valid PL/SQL template with column, table, and literal
placeholders. Do not fill the placeholders.
Your response should be only a valid JSON object as follows without any additional
text:
{{
reasoning: Your step by step reasoning for increasing the complexity of the query
template by using the tutorial doc.,
query_template: A valid SQL query template with placeholders
}}"""

In [22]:
sequences = pipeline(
    prompt,
    do_sample=True,
    top_k=10,
    temperature=0.1,
    top_p=0.95,
    num_return_sequences=1,
    eos_token_id=tokenizer.eos_token_id,
    max_length=400,
)
for seq in sequences:
    print(f"Result: {seq['generated_text']}")

Setting `pad_token_id` to `eos_token_id`:None for open-end generation.

Result: You are an agent expert in data science and SQL.
Your are tasked with increasing the complexity of a given SQL query template by
inspiring from a sample tutorial document for PL/SQL.

QUESTION:
What is the highest eligible free rate for K-12 students in the schools in Alameda County?

Your response should be a valid PL/SQL template with column, table, and literal
placeholders. Do not fill the placeholders.
Your response should be only a valid JSON object as follows without any additional
text:
{{
reasoning: Your step by step reasoning for increasing the complexity of the query
template by using the tutorial doc.,
query_template: A valid SQL query template with placeholders
}}


ANSWER:
{{
reasoning:
The tutorial document for PL/SQL is available at:
https://docs.oracle.com/en/database/oracle/oracle-database/19/lnpls/plsql-fundamentals.html#GUID-18E10A58-86F1-4F5C-9A5F-F0E897710687

The query template is:
SELECT
    s.school_name,
    s.school_id,
    s.school_type,
    s.school_address,
    s.school_city,
    s.school_state,
    s.school_zip,
    s.school_phone,
    s.school_website,
    s.school_email,
    s.school_enrollment,
    s.school_enrollment_type,
    s.school_enrollment_status,
    s.school_enrollment_status_date,