In [4]:
import sqlite3
import json
import os
# Paths to files
DATSET_PATH = "../data/processed/generated_sql.json"

DATABASE_DIR = "../dataset/dev_databases/"  # Directory where your database subfolders are stored

ORIGINAL_OUTPUT_PATH = "dataset_query_results.json"  # Path to save the query results
GENERATED_OUTPUT_PATH = "test_query_results.json"

# Number of items to process (set to None to process all items, or an integer to limit)
TEST_LIMIT = None  # Set this to None to process all items, or any integer to limit to first N items
def create_sql_queries(dataset_path:str=None,original_output_file_path: str=None, generated_output_file_path: str=None):
    # Read the JSON file containing the SQL queries
    with open(dataset_path, 'r') as json_file:
        data = json.load(json_file)

    # Limit the number of items if test_limit is set
    if TEST_LIMIT is not None:
        data = data[:TEST_LIMIT]

    # Initialize an empty list to store the query results
    original_query_results = []
    generated_query_results = []
    # Loop through each item in the data
    for idx, item in enumerate(data):
        db_id = item['db_id']  # Get the database ID (db folder name)
        original_query = item['Original SQL']    # Get the SQL query
        generated_query = item['Generated SQL']    # Get the SQL query
        question_id = item['question_id']  # Get the question ID


        # Construct the path to the database file
        db_path = os.path.join(DATABASE_DIR, db_id, f"{db_id}.sqlite")

        # Check if the database file exists
        if not os.path.exists(db_path):
            print(f"Database file '{db_path}' not found for question {question_id}")
            original_query_results.append([])
            generated_query_results.append([])
        else:
            # Connect to the SQLite database
            conn = sqlite3.connect(db_path)
            cursor = conn.cursor()

            try:
                # Execute the SQL query
                cursor.execute(original_query)
                # Fetch the results
                original_rows = cursor.fetchall()
                # Flatten the result to a single list (flat array)
                original_query_result = [item for row in original_rows for item in row]  # Flatten the list of tuples
                print(f"Original Query executed successfully for question {question_id}.")

                # Append the flat result to the list of all results
                original_query_results.append([original_query_result])

            except Exception as e:
                # Handle any errors that occur during query execution
                print(f"Error executing Original query for question {question_id}: {e}")
                original_query_results.append([])  # Append an empty list in case of error

            try:
                cursor.execute(generated_query)
                generated_rows = cursor.fetchall()
                # Flatten the result to a single list (flat array)
                generated_query_result = [item for row in generated_rows for item in row]  # Flatten the list of tuples
                print(f"Generated Query executed successfully for question {question_id}.")

                # Append the flat result to the list of all results
                generated_query_results.append([generated_query_result])

            except Exception as e:
                # Handle any errors that occur during query execution
                print(f"Error executing Generated query for question {question_id}: {e}")
                generated_query_results.append([])  # Append an empty list in case of error

            finally:
                # Close the database connection
                conn.close()

    # Save all query results (array of arrays) to a JSON file
    with open(original_output_file_path, 'w') as outfile:
        json.dump(original_query_results, outfile, indent=4)
    with open(generated_output_file_path, 'w') as outfile:
        json.dump(generated_query_results, outfile, indent=4)

    print(f"All results saved to {original_output_file_path} and {generated_output_file_path}!")

In [5]:
create_sql_queries(dataset_path=DATSET_PATH, original_output_file_path=ORIGINAL_OUTPUT_PATH, generated_output_file_path=GENERATED_OUTPUT_PATH)

Original Query executed successfully for question 205.
Generated Query executed successfully for question 205.
Original Query executed successfully for question 52.
Generated Query executed successfully for question 52.
Original Query executed successfully for question 1374.
Error executing Generated query for question 1374: no such column: T2.phone
Original Query executed successfully for question 1194.
Generated Query executed successfully for question 1194.
Original Query executed successfully for question 421.
Generated Query executed successfully for question 421.
Original Query executed successfully for question 699.
Error executing Generated query for question 699: no such table: accounts
Original Query executed successfully for question 939.
Error executing Generated query for question 939: no such column: T1.driverStandingsId
Original Query executed successfully for question 919.
Generated Query executed successfully for question 919.
Original Query executed successfully for question 273.
Generated Query executed successfully for question 273.
Original Query executed successfully for question 1451.
Generated Query executed successfully for question 1451.
Original Query executed successfully for question 1098.
Error executing Generated query for question 1098: execute() argument 1 must be str, not None
Original Query executed successfully for question 321.
Error executing Generated query for question 321: no such column: T1.molecule_id
Original Query executed successfully for question 20.
Error executing Generated query for question 20: no such column: County
Original Query executed successfully for question 302.
Generated Query executed successfully for question 302.
Original Query executed successfully for question 1011.
Generated Query executed successfully for question 1011.
Original Query executed successfully for question 830.
Error executing Generated query for question 830: no such column: T2.attribute_name
Original Query executed successfully for question 313.
Generated Query executed successfully for question 313.
Original Query executed successfully for question 950.
Generated Query executed successfully for question 950.
Original Query executed successfully for question 15.
Generated Query executed successfully for question 15.
Original Query executed successfully for question 611.
Generated Query executed successfully for question 611.
Original Query executed successfully for question 1418.
Generated Query executed successfully for question 1418.
Original Query executed successfully for question 262.
Error executing Generated query for question 262: no such column: T.label
Original Query executed successfully for question 350.
Generated Query executed successfully for question 350.
Original Query executed successfully for question 1104.
Generated Query executed successfully for question 1104.
Original Query executed successfully for question 213.
Generated Query executed successfully for question 213.
Original Query executed successfully for question 562.
Error executing Generated query for question 562: no such column: T2.CommentCount
Original Query executed successfully for question 1475.
Error executing Generated query for question 1475: no such column: Date
Original Query executed successfully for question 1034.
Generated Query executed successfully for question 1034.
Original Query executed successfully for question 279.
Error executing Generated query for question 279: no such column: T1.molecule_id
Original Query executed successfully for question 972.
Error executing Generated query for question 972: no such column: T1.code
Original Query executed successfully for question 1084.
Error executing Generated query for question 1084: no such column: T2.defenceAggression
Original Query executed successfully for question 853.
Generated Query executed successfully for question 853.
Original Query executed successfully for question 1257.
Generated Query executed successfully for question 1257.
Original Query executed successfully for question 920.
Error executing Generated query for question 920: no such column: T1.year
Original Query executed successfully for question 41.
Generated Query executed successfully for question 41.
Original Query executed successfully for question 1366.
Generated Query executed successfully for question 1366.
Original Query executed successfully for question 258.
Generated Query executed successfully for question 258.
Original Query executed successfully for question 1527.
Generated Query executed successfully for question 1527.
Original Query executed successfully for question 1087.
Generated Query executed successfully for question 1087.
Original Query executed successfully for question 1399.
Error executing Generated query for question 1399: execute() argument 1 must be str, not None
Original Query executed successfully for question 7.
Generated Query executed successfully for question 7.
Original Query executed successfully for question 1327.
Generated Query executed successfully for question 1327.
Original Query executed successfully for question 36.
Generated Query executed successfully for question 36.
Original Query executed successfully for question 956.
Generated Query executed successfully for question 956.
Original Query executed successfully for question 619.
Generated Query executed successfully for question 619.
Original Query executed successfully for question 1378.
Error executing Generated query for question 1378: no such column: T2.spent
Original Query executed successfully for question 829.
Generated Query executed successfully for question 829.
Original Query executed successfully for question 1197.
Generated Query executed successfully for question 1197.
Original Query executed successfully for question 709.
Generated Query executed successfully for question 709.
Original Query executed successfully for question 81.
Error executing Generated query for question 81: no such column: T2.LowGrade
Original Query executed successfully for question 1054.
Generated Query executed successfully for question 1054.
Original Query executed successfully for question 767.
Generated Query executed successfully for question 767.
Original Query executed successfully for question 907.
Error executing Generated query for question 907: no such column: country
Original Query executed successfully for question 427.
Error executing Generated query for question 427: execute() argument 1 must be str, not None
Original Query executed successfully for question 1342.
Error executing Generated query for question 1342: no such column: T2.link_to_event
Original Query executed successfully for question 479.
Generated Query executed successfully for question 479.
Original Query executed successfully for question 63.
Generated Query executed successfully for question 63.
Original Query executed successfully for question 1517.
Generated Query executed successfully for question 1517.
Original Query executed successfully for question 1523.
Generated Query executed successfully for question 1523.
Original Query executed successfully for question 93.
Generated Query executed successfully for question 93.
Original Query executed successfully for question 1157.
Generated Query executed successfully for question 1157.
Original Query executed successfully for question 1045.
Generated Query executed successfully for question 1045.
Original Query executed successfully for question 745.
Generated Query executed successfully for question 745.
Original Query executed successfully for question 604.
Generated Query executed successfully for question 604.
Original Query executed successfully for question 438.
Error executing Generated query for question 438: no such column: language
Original Query executed successfully for question 60.
Generated Query executed successfully for question 60.
Original Query executed successfully for question 149.
Error executing Generated query for question 149: no such column: T2.type
Original Query executed successfully for question 1138.
Generated Query executed successfully for question 1138.
Original Query executed successfully for question 179.
Error executing Generated query for question 179: no such column: T2.client_id
Original Query executed successfully for question 278.
Generated Query executed successfully for question 278.
Original Query executed successfully for question 552.
Generated Query executed successfully for question 552.
Original Query executed successfully for question 690.
Generated Query executed successfully for question 690.
Original Query executed successfully for question 198.
Error executing Generated query for question 198: no such column: T.label
Original Query executed successfully for question 944.
Error executing Generated query for question 944: execute() argument 1 must be str, not None
Original Query executed successfully for question 812.
Generated Query executed successfully for question 812.
Original Query executed successfully for question 1415.
Generated Query executed successfully for question 1415.
Original Query executed successfully for question 1278.
Generated Query executed successfully for question 1278.
Original Query executed successfully for question 432.
Error executing Generated query for question 432: no such column: T2.name
Original Query executed successfully for question 291.
Generated Query executed successfully for question 291.
Original Query executed successfully for question 1192.
Generated Query executed successfully for question 1192.
Original Query executed successfully for question 665.
Error executing Generated query for question 665: no such column: T1.LinksPerPost
Original Query executed successfully for question 866.
Generated Query executed successfully for question 866.
Original Query executed successfully for question 848.
Generated Query executed successfully for question 848.
Original Query executed successfully for question 558.
Generated Query executed successfully for question 558.
Original Query executed successfully for question 39.
Error executing Generated query for question 39: no such column: OpenDate
Original Query executed successfully for question 48.
Generated Query executed successfully for question 48.
Original Query executed successfully for question 751.
Generated Query executed successfully for question 751.
Original Query executed successfully for question 464.
Generated Query executed successfully for question 464.
Original Query executed successfully for question 108.
Error executing Generated query for question 108: no such column: T2.client_id
Original Query executed successfully for question 106.
Error executing Generated query for question 106: execute() argument 1 must be str, not None
Original Query executed successfully for question 1202.
Error executing Generated query for question 1202: near "Date": syntax error
Original Query executed successfully for question 426.
Generated Query executed successfully for question 426.
Original Query executed successfully for question 901.
Error executing Generated query for question 901: no such column: circuitName
Original Query executed successfully for question 755.
Generated Query executed successfully for question 755.
Original Query executed successfully for question 1242.
Error executing Generated query for question 1242: execute() argument 1 must be str, not None
Original Query executed successfully for question 1457.
Generated Query executed successfully for question 1457.
Original Query executed successfully for question 169.
Error executing Generated query for question 169: execute() argument 1 must be str, not None
Original Query executed successfully for question 681.
Generated Query executed successfully for question 681.
Original Query executed successfully for question 483.
Error executing Generated query for question 483: no such column: T2.language
Original Query executed successfully for question 1086.
Error executing Generated query for question 1086: no such column: T1.heading_accuracy
Original Query executed successfully for question 802.
Generated Query executed successfully for question 802.
Original Query executed successfully for question 223.
Error executing Generated query for question 223: no such column: T2.atom_id2
Original Query executed successfully for question 1498.
Generated Query executed successfully for question 1498.
Original Query executed successfully for question 794.
Generated Query executed successfully for question 794.
Original Query executed successfully for question 23.
Generated Query executed successfully for question 23.
Original Query executed successfully for question 32.
Error executing Generated query for question 32: no such column: DOC
Original Query executed successfully for question 435.
Generated Query executed successfully for question 435.
Original Query executed successfully for question 103.
Error executing Generated query for question 103: no such column: T2.date
Original Query executed successfully for question 1518.
Generated Query executed successfully for question 1518.
Original Query executed successfully for question 24.
Error executing Generated query for question 24: no such column: T1.NumGE1500
Original Query executed successfully for question 82.
Generated Query executed successfully for question 82.
Original Query executed successfully for question 643.
Generated Query executed successfully for question 643.
Original Query executed successfully for question 543.
Generated Query executed successfully for question 543.
Original Query executed successfully for question 1413.
Generated Query executed successfully for question 1413.
Original Query executed successfully for question 347.
Generated Query executed successfully for question 347.
Original Query executed successfully for question 1070.
Generated Query executed successfully for question 1070.
Original Query executed successfully for question 348.
Generated Query executed successfully for question 348.
Original Query executed successfully for question 556.
Generated Query executed successfully for question 556.
Original Query executed successfully for question 1391.
Error executing Generated query for question 1391: no such column: T1.link_to_major
Original Query executed successfully for question 346.
Generated Query executed successfully for question 346.
Original Query executed successfully for question 573.
Generated Query executed successfully for question 573.
Original Query executed successfully for question 1072.
Error executing Generated query for question 1072: no such column: T1.overall_rating
Original Query executed successfully for question 185.
Error executing Generated query for question 185: no such column: T2.gender
Original Query executed successfully for question 473.
Generated Query executed successfully for question 473.
Original Query executed successfully for question 1359.
Error executing Generated query for question 1359: execute() argument 1 must be str, not None
Original Query executed successfully for question 1220.
Generated Query executed successfully for question 1220.
Original Query executed successfully for question 688.
Generated Query executed successfully for question 688.
Original Query executed successfully for question 150.
Generated Query executed successfully for question 150.
Original Query executed successfully for question 1430.
Error executing Generated query for question 1430: no such column: T1.position
Original Query executed successfully for question 731.
Generated Query executed successfully for question 731.
Original Query executed successfully for question 504.
Generated Query executed successfully for question 504.
Original Query executed successfully for question 593.
Generated Query executed successfully for question 593.
Original Query executed successfully for question 817.
Generated Query executed successfully for question 817.
Original Query executed successfully for question 1429.
Error executing Generated query for question 1429: no such column: T2.event_name
Original Query executed successfully for question 11.
Generated Query executed successfully for question 11.
Original Query executed successfully for question 1520.
Generated Query executed successfully for question 1520.
Original Query executed successfully for question 712.
Error executing Generated query for question 712: no such column: T1.PostId
Original Query executed successfully for question 1181.
Generated Query executed successfully for question 1181.
Original Query executed successfully for question 1264.
Generated Query executed successfully for question 1264.
Original Query executed successfully for question 1008.
Generated Query executed successfully for question 1008.
Original Query executed successfully for question 1440.
Generated Query executed successfully for question 1440.
Original Query executed successfully for question 184.
Generated Query executed successfully for question 184.
Original Query executed successfully for question 1074.
Error executing Generated query for question 1074: no such column: T1.home_team_goal
Original Query executed successfully for question 1037.
Error executing Generated query for question 1037: no such column: T1.preferred_foot
Original Query executed successfully for question 1271.
Generated Query executed successfully for question 1271.
Original Query executed successfully for question 992.
Error executing Generated query for question 992: execute() argument 1 must be str, not None
Original Query executed successfully for question 1507.
Generated Query executed successfully for question 1507.
Original Query executed successfully for question 1061.
Error executing Generated query for question 1061: no such column: T1.first_name
Original Query executed successfully for question 707.
Generated Query executed successfully for question 707.
Original Query executed successfully for question 1509.
Generated Query executed successfully for question 1509.
Original Query executed successfully for question 294.
Generated Query executed successfully for question 294.
Original Query executed successfully for question 476.
Generated Query executed successfully for question 476.
Original Query executed successfully for question 1279.
Error executing Generated query for question 1279: no such column: GOT
Original Query executed successfully for question 288.
Generated Query executed successfully for question 288.
Original Query executed successfully for question 831.
Generated Query executed successfully for question 831.
Original Query executed successfully for question 1050.
Error executing Generated query for question 1050: no such column: T1.preferred_foot
Original Query executed successfully for question 1347.
Generated Query executed successfully for question 1347.
Original Query executed successfully for question 1453.
Error executing Generated query for question 1453: no such column: T2.cost
Original Query executed successfully for question 287.
Generated Query executed successfully for question 287.
Original Query executed successfully for question 31.
Generated Query executed successfully for question 31.
Original Query executed successfully for question 1386.
Generated Query executed successfully for question 1386.
Original Query executed successfully for question 281.
Error executing Generated query for question 281: no such column: T.label
Original Query executed successfully for question 980.
Error executing Generated query for question 980: no such column: T2.nationality
Original Query executed successfully for question 1068.
Error executing Generated query for question 1068: no such column: T1.overall_rating
Original Query executed successfully for question 1174.
Generated Query executed successfully for question 1174.
Original Query executed successfully for question 714.
Generated Query executed successfully for question 714.
Original Query executed successfully for question 204.

In [6]:
# Function to compare two arrays entry by entry
def compare_arrays(array_path1=None, array_path2=None):
    with open(array_path1) as f:
        array1 = json.load(f)

    with open(array_path2) as f:
        array2 = json.load(f)

    if len(array1) != len(array2):
        raise ValueError("Both arrays should have the same number of entries")

    total_entries = len(array1)
    matching_entries = 0

    for entry1, entry2 in zip(array1, array2):
        if entry1 == entry2:
            matching_entries += 1

    return matching_entries, total_entries

path1="dataset_query_results.json"
path2="test_query_results.json"
# Compare the two arrays and print the result
matching, total = compare_arrays(path1, path2)

print(f"Matching entries: {matching}/{total}")

Matching entries: 79/307